<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./style.scss">
    <script src="./news.js"></script>
</head>
<body>
<div class="some">
    <div  style="background-color: red;">Ячейка 1</div>
    <div style="background-color: blue;">Ячейка 2</div>
    <div class="test" style="background-color: green;">Ячейка 3</div>
    <div style="background-color: yellow;">Ячейка 4</div>
    <div style="background-color: orange;">Ячейка 5</div>
    <div style="background-color: purple;">Ячейка 6</div>
</div>
<img src="@images/dolphin.jpg" alt="">
</body>
</html>